html, body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
